:root {
    /*Color codes*/
        --primary-color:#505033;
        --secondary-color:#264969;
        --accent1-color:#CFCFB4;
        --accent2-color:#B4CDE4;
    /*Fonts*/
        --heading-font:'Georgia';
        --text-font:'Roboto';
    }
/* Linked fonts */
header {
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    font-family: var(--heading-font);
    margin: 1rem auto;
	align-items: center;
	border-bottom: 1px solid var(--primary-color);
	max-width: auto;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

h1 {
	font-size: 2rem;
	font-family: Georgia, serif; /* Use Georgia as the primary font */
    text-align: center;
}
h2, h3 {
    font-family: Georgia, serif; /* Use Georgia as the primary font */
    font-weight: 700; /* Set the font weight to bold */
    text-align: center;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: var(--accent2-color);
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: var(--accent1-color);
	font-weight: 700;
	text-decoration: underline;
}
main {
    font-family: var(--text-font); /* Default font */
    font-weight: 800;
    color: var(--accent2-color);
}
.hero {
    display: grid;
    position: relative;
}
.hero img {
    width: 100%;
}
.hero h1 {
    position: absolute;
    text-align: center;
    left: 50%;
}
.article-section {
    left: 50%;
    bottom: 50%;
    display: flex;
    position: absolute;
}
.article-section img {
    width: 250px;
}

footer {
    display: flex;
    justify-content: space-between; /* Aligns content to the edges */
    align-items: center; /* Centers items vertically */
    padding: 20px; /* Adds padding around the footer */
}

.Sociallinks {
    display: flex; /* Displays icons in a horizontal line */
    justify-content: flex-end; /* Aligns icons to the right */
}

.Sociallinks a {
    margin-left: 15px; /* Spacing between icons */
}

.Sociallinks img {
    width: 30px; /* Adjust icon size as needed */
    height: auto; /* Maintain aspect ratio */
}
a {
    text-decoration: none; /* Removes underline */
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }
figcaption {
    background-color: #222;
    color: #fff;
    font: var(--text-font);
    padding: 3px;
    text-align: center;
  }